.table th {
    background-color: #121d23;
    box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
    color: rgb(201, 165, 165);
    border: none !important;
}

.dataTables_wrapper .dataTables_length {
    color: #e4c5c5 !important;
}

.span {
    color: brown;
}

UL LI {
    font-weight: 600;
    font-size: 20PX;
    list-style: circle;
}

.btn {
    font-size: 1rem;
}

.page-link {
    cursor: pointer;
    font-size: .8rem;
}

.dataTables {
    color: #e4c5c5;
}

.pagination {
    justify-content: end;
}
