body {
    height: 100%;
    background-color: #10181d;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dataTables_wrapper {
    color: #e4c5c5 !important;
}

.dataTables_wrapper .dataTables_paginate {
    display: none !important;
}

.dataTables_wrapper .dataTables_info {
    display: none !important;
}

.dataTables_wrapper .dataTables_length {
    display: none !important;
}
